* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
h2 {
  font-weight: 900;
  font-size: 40px;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  height: 64px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
}

/* banner section styles */

.banner {
  background-image: url("../images/banner/banner3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  padding: 124px 160px 166px 704px;
  text-align: right;
}

.section-title {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 65px;
}
.sectiion-description {
  color: white;
  font-weight: 400;
  font-size: 16px;

  padding-top: 30px;
  padding-bottom: 30px;
}

/* failure section styles */
.failure-container {
  display: flex;
  gap: 40px;
  padding: 0px 151px 0px;
}

.failure-content {
  margin: auto;
}

.failure-content p {
  font-size: 18px;

  font-weight: 400;
  color: #757575;
  margin-top: 26px;
  margin-bottom: 17px;
}
.failure-content ul {
  color: #757575;
  font-weight: 400;
}


/* my plans styles */
.my-plans{
  margin: 65px;
  text-align: center;
}
.my-plans-container{
  /* margin-top: 55px; */
  margin: 55px 112px;
  display: flex;
  gap: 24px;
}
.my-plan-title{
  padding-top: 20px;
}